// palette of colors
:root {
  --neutral200 : #E3E8EF;
  --primary600: #155EEF;
  --neutral50: #F8FAFC;
  --neutral100: #EEF2F6;
  --neutral700: #364152;
  --neutral600: #4B5565;
  --neutral900: #121926;
  
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue:#363F72;
  --color-bg1 :#FCFCFD;
  --color-bg2:#FEF0C7;
  --color-yellow:#DC8603;
  --color-blue-sky:#E0F2FE;
  --color-warning:red;
  --color-success:#4BB543
  }
  